In [3]:
from typing import Any, MutableSequence

In [9]:
def reverse_array(a: MutableSequence) -> None : 
    n = len(a)
    for i in range(n//2) : 
        a[i], a[n-1-i] = a[n-i-1], a[i]

In [12]:
a = [3, 7, 10, 5, 6]
reverse_array(a)

print(a)

[6, 5, 10, 7, 3]

In [15]:
if __name__ == '__main__' : 
    print('배열 원소를 역순으로 정렬합니다.')
    nx = int(input("원소 수를 입력하세요.: "))
    x = [None] * nx

    for i in range(nx) : 
        x[i] = int(input(f'x[{i}]값을 입력하세요.:'))

    reverse_array(x)

    print('배열 원소를 역순으로 정렬했습니다.')
    for i in range(nx) : 
        print(f'x[{i}] = {x[i]}')

배열 원소를 역순으로 정렬합니다.

원소 수를 입력하세요.:  4
x[0]값을 입력하세요.: 1
x[1]값을 입력하세요.: 2
x[2]값을 입력하세요.: 3
x[3]값을 입력하세요.: 4

배열 원소를 역순으로 정렬했습니다.
x[0] = 4
x[1] = 3
x[2] = 2
x[3] = 1

In [18]:
# reverse()
x = [1,2,3,7]
x.reverse()
x

[7, 3, 2, 1]

In [20]:
# reversed()
x = [1,2,3,7]
y = list(reversed(x))
y

[7, 3, 2, 1]

In [24]:
# 함수 사이에 인수 주고 받기
def sum(n) : 
    s = 0
    while n > 0 : 
        s += n
        n -= 1
    return s

x = int(input('x의 값을 입력하세요.:'))
print(f'1부터 {x}까지 정수의 합은 {sum(x)}입니다.')

x의 값을 입력하세요.: 3

1부터 3까지 정수의 합은 6입니다.

In [26]:
def reference(b) : 
    b *=10
    print(b)

a = 10
reference(a)
print(a)

100
10

In [29]:
# 소수 나열하기
def change(lst, idx, val) : 
    lst[idx] = val

x = [11, 22, 33, 44, 55]
print('x =', x)

index = int(input("업데이트할 인덱스를 선택하세요.:"))
value = int(input("새로운 값을 입력하세요.:"))

change(x, index, value)
print(f'새로운 리스트 x: {x}')

x = [11, 22, 33, 44, 55]

업데이트할 인덱스를 선택하세요.: 4
새로운 값을 입력하세요.: 100

새로운 리스트 x: [11, 22, 33, 44, 100]

In [37]:
# 소수 나열하기(알고리즘 개선판)
counter = 0

for n in range(2, 1001) : 
    for i in range(2, n) : 
        counter += 1
        if n % i == 0 :
            break
    else :
        print(n)
print(f'나눗셈을 실행한 횟수: {counter}')

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
나눗셈을 실행한 횟수: 78022

In [39]:
counter = 0
ptr = 0
prime = [None] * 500

prime[ptr] = 2 # prime[0] == 2
ptr += 1

for n in range(3, 1001, 2) : # 홀수만을 대상으로 나눔(4 이상의 짝수는 이미 아님)
    for i in range(2, ptr) : # 이미 찾은 소수로 나눔
        counter += 1
        if n % prime[i] == 0 : # 나누어 떨어지면 소수가 아님
            break
    else :
        prime[ptr]=n # 소수로 배열 prime에 저장
        ptr += 1 # prime의 index 역할을 하는 ptr이 1씩 순차적으로 증가함

for i in range(ptr) : 
    print(prime[i])
print(f'나눗셈을 실행한 횟수: {counter}')

2
3
5
7
9
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997
나눗셈을 실행한 횟수: 16799

In [40]:
# 리스트와 원소의 복사
x = [15, 64, 7, [32,55], 'ABC']
for i in range(len(x)) : 
    print(f'x[{i}] = {x[i]}')

x[0] = 15
x[1] = 64
x[2] = 7
x[3] = [32, 55]
x[4] = ABC

In [41]:
x = [[1,2,3], [4,5,6]]
y = x.copy()
x[0][1] = 0
x

[[1, 0, 3], [4, 5, 6]]

In [42]:
y

[[1, 0, 3], [4, 5, 6]]

In [43]:
import copy
x = [[1,2,3], [4,5,6]]
y = copy.deepcopy(x)
x[0][1] = 0
x

[[1, 0, 3], [4, 5, 6]]

In [44]:
y

[[1, 2, 3], [4, 5, 6]]